<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="" method="post">
        {[ form.csrf_token() ]}
        <input type="text" placeholder="题目" name="subject"><br>
        <input type="text" placeholder="选项1" name="answer_1"><br>
        <input type="text" placeholder="选项2" name="answer_2"><br>
        <input type="text" placeholder="选项3" name="answer_3"><br>
        <input type="text" placeholder="选项4" name="answer_4"><br>
        <input type="text" placeholder="正确答案，请填1，2，3，4" name="right_answer"><br>
        <button>提交</button>
    </form>

</div>
</body>
</html>